<div class="container">
  <div class="up">
    <h1>ABOUT ME</h1>
    <img src="../../assets/waveNera.svg" alt="">
  </div>

  <div class="down">
    <div class="secInfo">
      <h3>LA MIA STORIA</h3>
      <h3>ESPERIENZE</h3>
      <h3>EDUCAZIONE</h3>
    </div>
    <div class="secContent">
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <h2 id="STORIA">La mia avventura nel mondo della programmazione è iniziata nel 2022, quando ho intrapreso un
        eccitante viaggio di apprendimento presso l'Accademia Online di Boolean. Qui, ho abbracciato la passione per lo
        sviluppo web e ho iniziato il mio percorso come Full Stack Web Developer.

        Durante questo straordinario percorso, ho acquisito un ampio ventaglio di competenze, immergendomi nei linguaggi
        di programmazione fondamentali come HTML, CSS e JavaScript. Ho affinato le mie abilità lavorando con Vue.js,
        PHP, MySql e ho imparato ad utilizzare il potente framework Laravel per unire magistralmente il Front-end con il
        Back-end.

        Ma la mia sete di conoscenza non si è mai esaurita. Ho continuato a perfezionarmi, tracciando un percorso di
        apprendimento ambizioso. Ho proseguito la mia formazione presso Boolean per abbracciare il mondo di Java, sia
        per la creazione di software che per il lato Back End, sperimentando il framework Spring Boot.

        Il mio impegno per il miglioramento continuo mi ha portato a Dot Accademy, dove ho ampliato ulteriormente le mie
        competenze di sviluppo web. Qui, ho abbracciato il Framework Angular, che ha catturato la mia passione e si è
        trasformato nel mio metodo preferito per tradurre le idee in straordinari progetti digitali.

        Ogni passo del mio viaggio è stato guidato dalla passione per il coding, dalla dedizione all'apprendimento e
        dalla voglia di creare soluzioni digitali straordinarie. Non vedo l'ora di mettere in pratica queste competenze
        e collaborare con te per trasformare le tue idee in progetti sorprendenti</h2>
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <h2 id="ESPERIENZE">Durante il mio emozionante percorso formativo presso le diverse Accademie, ogni giorno ho
        affrontato sfide stimolanti. Ho dedicato ore a esercitazioni pratiche e alla creazione di siti web e
        applicazioni, spingendomi costantemente oltre i miei limiti.

        Ciò che iniziò come semplici esercizi si è rapidamente trasformato in progetti sempre più sofisticati e
        complessi. La mia determinazione e la mia passione per la programmazione mi hanno spinto a raggiungere nuovi
        livelli di competenza.

        Ho avuto l'opportunità di collaborare in team, lavorando in modo sinergico per raggiungere obiettivi ambiziosi.
        Ma ho anche scoperto la gioia dell'autonomia, affrontando sfide da solo e dimostrando la mia capacità di
        realizzare qualsiasi cosa mi proponevo.</h2>
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <h2 id="LINGUAGGI">Dopo aver esplorato un vasto universo di linguaggi di programmazione, ho finalmente trovato le
        mie passioni e mi sto specializzando in due straordinari campi: Angular e Java con Spring Boot.

        Con Angular, ho scoperto un framework che ha catturato la mia immaginazione e ha alimentato la mia creatività
        nel mondo dello sviluppo web. La potenza di Angular nel creare interfacce utente dinamiche e coinvolgenti è
        diventata il mio trampolino di lancio per realizzare esperienze utente straordinarie.

        D'altra parte, Java con Spring Boot rappresenta il mio ingresso nel mondo del Back End e dello sviluppo
        software. La robustezza e la versatilità di Java, abbinate alla semplicità di Spring Boot, mi hanno permesso di
        creare applicazioni robuste e scalabili che possono affrontare qualsiasi sfida.

        Mentre mi specializzo in queste due potenti tecnologie, sono entusiasta di continuare a crescere e di affrontare
        progetti sempre più impegnativi.
      </h2>
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->
      <!-- --------------------------------------------------------------------- -->

    </div>
    <div class="space"></div>
    <div class="onda">
      <img src="../../assets/wave2Sotto.svg" alt="">
    </div>
  </div>





</div>