.container {
  width: 1200vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 40px;
  padding-bottom: 80px;
  /* background-color: red; */
  box-shadow: 0px 0px 0px 0px black;

}


.up {
  /* background-color: beige;a */
  display: flex;
  gap: 80px;
  animation: Sx-DX 220s linear infinite;
  box-shadow: 5px 3px 8px 0px #00000007;
}


.down {
  /* background-color: beige;a */
  display: flex;
  gap: 80px;
  animation: Dx-Sx 255s linear infinite;
  margin-top: 10px;
  box-shadow: 5px 3px 8px 0px #00000007;
}



span{
  font-size: 3rem;
  font-family: 'Jost', sans-serif
}


@keyframes Dx-Sx {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-60%)
  }
  100%{
    transform: translateX(0%);
  }
}


@keyframes Sx-DX {
  0% {
    transform: translateX(-70%);
  }
  50% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(-70%)
  }
}







