<div class="container">
  <div class="up">
    <img src="../../assets/wave4Nera.svg" alt="">
  </div>
  <div class="center">
    <h1>FREELANCE</h1>


    <div class="palla2">
      <img src="../../assets/palla.svg" alt="">
    </div>

  </div>
  <div class="down">
    <div class="info">
      <h2>Parliamone</h2>
      <p>Sono un full-stack web developer freelance con esperienza comprovata. Posso trasformare le tue idee in siti web
        e applicazioni di alta qualità. Contattami per progetti web straordinari!</p>
      <h3>100€ <span>/ day</span> </h3>

      <div class="palla1">
        <img src="../../assets/palla.svg" alt="">
      </div>

    </div>

    <div class="io">
      <img src="../../assets/io2.png" alt="">
    </div>



  </div>
</div>