<div class="lalla">
  <div class="container">
    <a (click)="transition()"> ABOUT ME </a>
    <a> CORSI </a>
    <a> FREELANCE </a>
    <a> CONTATTAMI </a>
    <a> DOWNLOAD CV </a>
  </div>
  <div class="nero" [ngClass]="{'show': showRedOverlay}">

  </div>




  <div class="container2">
    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
    <i class="fa-solid fa-code" style="color: #ffffff;"></i>
    <i class="fa-solid fa-cart-plus" style="color: #ffffff;"></i>
    <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
    <i class="fa-solid fa-file" style="color: #ffffff;"></i>
  </div>
</div>