.container {
  width: 100%;
  padding: 90px 0px 20px 0px;
  background-color: rgb(255, 255, 255);
}

.Social {
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0);
  padding: 40px 0px;
  transition: background-color 0.3s ease; /* Aggiungi una transizione per una transizione fluida */
}

.Social h2 {
  padding-left: 20px;
  font-size: 3vw;
  font-family: Jost, sans-serif;
  font-weight: 400;
  color: #252525;
}

/* Aggiungi uno pseudo-selettore per la classe .Social quando si verifica l'hover */
.Social:hover {
  background-color: black;
}

/* Cambia anche il colore del testo quando si verifica l'hover */
.Social:hover h2 {
  color: #fff;
}
