.container {
  width: 100%;
  padding: 90px 0px 20px 0px;
  background-color: rgb(255, 255, 255);
}

.Social {
  width: 100%;
  border-top: 1px solid #252525;
  padding: 40px 0px;
  transition: background-color 0.3s ease;
  position: relative;
}

.Social h2 {
  padding-left: 20px;
  font-size: 3vw;
  font-family: Jost, sans-serif;
  font-weight: 400;
  color: #252525;
  z-index: 999;
}


.Social:hover {
  background-color: rgb(31, 31, 31);
}


.Social:hover h2 {
  color: #fff;
}


button{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  top: 0;
  border: 0;
}



/* RESPONSIVE */

@media (max-width:930px){
  .Social h2{
    font-size: 4vw;
  }
}

@media (max-width:450px){
  .Social h2{
    font-size: 5.5vw;
  }
}
