<div class="pri">
  <div class="container">
    <div class="sx">
      <h2>Ciao ! io sono</h2>
      <h1>Angelo Di <br> Mauro</h1>
      <h3>FULLSTACK WEB DEVELOPER</h3>
      <p>La mia missione è aiutarti a realizzare i tuoi progetti con la mia versatilità e la mia capacità di adattarmi a
        diverse situazioni. Insieme, trasformiamo le tue idee in grandi progetti!</p>
      <button>Download CV</button>
    </div>

    <img src="../../assets/io2.png" id="io" alt="">

    <img src="../../assets/wave3.svg" id="ondaIo" alt="">
  </div>
</div>